@font-face {
  font-family: "CeraProMedium";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/Cera\ Pro\ Medium.ttf);
  src: url(/assets/fonts/Cera\ Pro\ Medium.otf);
}
@font-face {
  font-family: "CeraProBold";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/Cera\ Pro\ Bold.ttf);
  src: url(/assets/fonts/Cera\ Pro\ Bold.otf);
}
