@import "variables";

label {
  display: inline-block;
  margin-bottom: $gutter-xs;
}

input {
  display: inline-block;
  background-color: $clr-main;
  font-family: $ff-light;
  outline: none;
  padding: $gutter-xs;

  &[type="password"] {
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.2rem;
    &:placeholder-shown {
      letter-spacing: normal;
    }
  }
}

.search-input {
  height: $height-input;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.input-wrapper {
  /*  @include flex-column-center;
  align-items: left;
  gap: $gutter-xxs; */

  &.valid,
  &.invalid {
    .validation-msg {
      visibility: visible;
    }
  }

  &.invalid {
    input {
      background-color: $clr-util-invalid-input;
    }

    .validation-msg {
      color: $clr-util-invalid-msg;
    }
  }

  &.valid {
    input {
      background-color: $clr-util-valid-input;
    }
    .validation-msg {
      color: $clr-util-valid-msg;
    }
  }
}

.validation-msg {
  visibility: hidden;
  font-size: $fs-sm;
  margin-top: $gutter-xxs;
  //margin-left: $gutter-xs;
  min-height: $fs-sm;
  line-height: 1.1;
}
