@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 100%;
  background-color: $clr-mid-blue;
  overflow-y: scroll;
}

#site-wrapper {
  position: relative;
}

#main-wrapper {
  //grid-area: 2 / 2 / 2 / 3;
  padding: $gutter-lg $gutter-md 0 $gutter-md;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

#bottom-wrapper {
  @include flex-column-left;
  gap: $gutter-lg;
}

main {
  max-width: $max-width-lg;
  margin: 0 auto;
}

h2 {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  text-align: center;
  color: $clr-main;
  text-decoration: none;
}

button {
  cursor: pointer;
}
