* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  //font-size: 1.1rem;
}

h2 {
  font-size: 1rem;
}

input {
  height: 2.5rem;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--clr-main);
}

img {
  max-width: 100%;
  height: auto;
}

/* input:focus-visible,
input:active {
  background-color: var(--clr-main);
} */

body {
  width: 100vw;
  height: 100vh;
  background-color: #210340;
  overflow-y: hidden;
}

header {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 5rem;
  background-color: rgba(33, 3, 58, 1);
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
  height: auto;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: rgba(19, 0, 38, 1);
  color: rgb(214, 214, 214);
  padding: 4rem 1rem;
}
