@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $clr-mid-blue;
  color: $clr-main;
  overflow-y: hidden;
  font-family: $font-medium;
}

h2 {
  font-size: 1rem;
}

input {
  height: 2.5rem;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  background-color: $clr-main;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 5rem;
  background-color: $clr-mid-blue;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
  height: auto;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: $clr-dark-blue;
  padding: 4rem 1rem;
}
