header {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 5rem;
  background-color: $clr-mid-blue;
  font-size: $fs-sm;

  .logo {
    max-width: 100%;
    height: auto;
  }

  .links {
    display: flex;
    gap: $gutter-sm;
    align-items: center;
  }

  .header-link {
    transition: color $duration-mid ease-in-out;
    &:hover {
      color: #f57318;
    }
    &.active {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  #log-in-btn {
    //min-width: fit-content;
    padding: 15px 28px;
    border: 1px solid $clr-main;
    border-radius: 5px;
    transition: all $duration-fast ease-in-out;
    &:hover {
      background-color: $clr-main;
      color: $clr-dark-blue;
    }
  }
}
