.icon.lila {
  &.active:before {
    filter: none;
  }
  &:before {
    filter: invert(61%) sepia(2%) saturate(3732%) hue-rotate(230deg) brightness(89%) contrast(83%);
  }
}

.icon.white {
  &:hover:before {
    filter: none;
  }
  &:before {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }
  &.no-hover:hover:before {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }
  &.no-hover.active:before {
    filter: none;
  }
}

.menu:before {
  background: url(/assets/icons/menu.svg) no-repeat center center / contain;
}

.profile:before {
  content: url(/assets/icons/profile.svg);
}

.plane:before {
  content: url(/assets/icons/plane.svg);
}

.bed:before {
  content: url(/assets/icons/bed.svg);
}

.car:before {
  content: url(/assets/icons/car.svg);
}

.ship:before {
  content: url(/assets/icons/ship.svg);
}

.beach:before {
  content: url(/assets/icons/beach.svg);
}

.directions:before {
  content: url(/assets/icons/directions.svg);
}

.globe:before {
  content: url(/assets/icons/globe.svg);
}

.shield:before {
  content: url(/assets/icons/shield.svg);
}

.notes:before {
  content: url(/assets/icons/notes.svg);
}

.arrow-down:before {
  content: url(/assets/icons/arrow-down.svg);
}

.edit:before {
  background-image: url(/assets/icons/edit.svg);
}
.x:before {
  content: url(/assets/icons/x.svg);
}

.heart:before {
  content: url(/assets/icons/heart.svg);
}
.map:before {
  content: url(/assets/icons/map.svg);
}
