@import "variables";

#search-flights {
  width: 100%;
  background-color: $clr-dark-blue;
  padding: $gutter-md $gutter-sm;
}

#search-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: $clr-light-blue;
  padding: $gutter-xs;
}

#from-to-wrapper {
  display: flex;
  width: 50%;
  position: relative;
  justify-content: space-between;
}

.search-input-wrapper {
  //width: 100%;
}

.suggestions-wrapper {
  display: none;
  margin-top: $gutter-xs;
  position: absolute;
  z-index: 1;
  width: 100%;
  //height: 18rem;
  background-color: $clr-main;
  border-radius: $gutter-sm;
  &.active {
    display: block;
  }
}

.city {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  color: $clr-dark-blue;
}

.city-img {
  max-width: 50px;
  border-radius: $gutter-sm;
}

.city-name {
  font-weight: bold;
}

#bottom-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  @include mq-sm {
    grid-template-columns: 1fr 700px;

    #price-diagram {
      grid-area: 1 / 1 / 2 / -1;
    }
  }
}

#price-diagram {
  height: 10rem;
  width: 100%;
}

#filter {
  height: 2rem;
  width: 100%;
}
#results {
  height: 100vh;
  width: 100%;
}
