@import "variables";

#search-flights {
  width: 100%;

  /*   background-color: $clr-dark-blue;
  padding: $gutter-md $gutter-sm; */
}

#search-form {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

#form-inputs-wrapper {
  width: inherit;
  display: flex;
  background: $clr-light-blue;
  padding: $gutter-xs;
  border-radius: $br-sm;
  height: max-content;
}

#from-to-wrapper {
  display: flex;
  gap: $gutter-xs;
  position: relative;
}

.search-input-wrapper {
  position: relative;

  input {
    padding-left: 40px;
  }

  &:before {
    position: absolute;
    width: 1.4rem;
    left: 12px;
    top: 29%;
  }
}

.suggestions-wrapper {
  display: none;
  margin-top: $gutter-xs;
  position: absolute;
  z-index: 1;
  width: 200%;
  //height: 18rem;
  background-color: $clr-main;
  border-radius: $gutter-sm;
  &.active {
    display: block;
  }
}

.city {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  color: $clr-dark-blue;
}

.city-img {
  max-width: 50px;
  border-radius: $gutter-sm;
}

.city-name {
  font-weight: bold;
}

#bottom-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  @include mq-sm {
    grid-template-columns: 1fr 700px;

    #price-diagram {
      grid-area: 1 / 1 / 2 / -1;
    }
  }
}

#price-diagram {
  height: 10rem;
  width: 100%;
}

#filter {
  height: 2rem;
  width: 100%;
}
#results {
  height: 100vh;
  width: 100%;
}
