@import "variables";

#top-header {
  position: sticky;
  top: 0;
  z-index: $z-header;
  //grid-area: 1 / 2 / 2 / 3;
  padding: $gutter-sm $gutter-md;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  //height: 5rem;
  background-color: $clr-mid-blue;
  font-size: $fs-sm;

  .logo {
    background: no-repeat center url("assets/img/logo/momondo-logo-sm.png");
    background-size: contain;
    width: 30px;
    height: 30px;

    @include mq-sm {
      background-image: url("assets/img/logo/momondo-logo-md.png");
      width: 180px;
    }
  }

  .links {
    display: flex;
    gap: $gutter-sm;
    align-items: center;
  }

  .header-link {
    color: $clr-main;
    transition: color $duration-mid ease-in-out;
    &:hover {
      color: $clr-orange;
    }
    &.active {
      color: $clr-orange;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
  .profile-menu-wrapper {
    position: relative;
  }

  #profile-menu {
    visibility: hidden;
    background-color: $clr-main;
    position: absolute;
    right: 0;
    margin-top: 10px;
    border-radius: $br-sm;
    overflow: hidden;
    z-index: $z-modal;
    @include flex-column-center;

    &.active {
      visibility: visible;
    }
    .profile-menu-item {
      text-align: left;
      width: 12rem;
      padding: $gutter-sm;
      color: $clr-black;
      font-family: $ff-light;
      &:hover {
        background-color: $clr-main-shade;
      }
    }

    #log-out-btn {
      color: $clr-black;
      width: calc(100% - ($gutter-sm * 2));
      margin: $gutter-sm 0;
      padding: $gutter-xs $gutter-md;
      border: 2px solid $clr-black;
      border-radius: $br-sm;
      &:hover {
        background-color: $clr-main-shade;
      }
    }
  }
}
