@import "variables";

body {
  font-family: $ff-medium;
  color: $clr-main;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: $ff-display;
}

.h1 {
  font-size: $fs-xxxxl;
}

.h2 {
  font-size: $fs-xxl;
}

.h3 {
  font-size: $fs-xl;
}

p {
  font-family: $ff-light;
}

ul,
li {
  list-style: none;
}

.section-title {
  margin-bottom: $gutter-sm;
}

.type-light {
  font-family: $ff-light;
  font-weight: 300;
}

.emphasize {
  font-family: $ff-medium;
}

.capitalize {
  text-transform: capitalize;
}
