@import "variables";

body {
  font-family: $ff-medium;
  color: $clr-main;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: $ff-display;
}

p {
  font-family: $ff-light;
}

ul {
  list-style: none;
}

.section-title {
  margin-bottom: $gutter-sm;
}

.type-light {
  font-family: $ff-light;
  font-weight: 300;
}

.emphasize {
  font-family: $ff-medium;
}
