$clr-main: #f3f0f5;
$clr-dark-blue: #130026;
$clr-mid-blue: rgba(33, 3, 58, 1);
$clr-light-blue: rgba(0, 149, 204, 1);
$clr-light-lila: #9684a4;
$clr-mid-lila: rgba(167, 98, 234, 0.4);
$clr-orange: #f57318;
$clr-light-pink: #e1d9e8;
$clr-white-alpha-1: rgba(255, 255, 255, 0.7);
$clr-hot-pink: #de1666;
$clr-mid-purple: #73146f;

$ff-display: "CeraProBold";
$ff-medium: "CeraProMedium";
$ff-light: "CeraProLight";

$fs-sm: 0.8rem;
$fs-md: 1rem;
$fs-lg: 1.2rem;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

$gutter-xxs: 0.25rem;
$gutter-xs: 0.5rem;
$gutter-sm: 1rem;
$gutter-md: 2rem;
$gutter-lg: 4rem;
$gutter-xl: 8rem;
$gutter-xxl: 15rem;

$br-sm: 5px;

//search
$height-input: 3rem;

$max-width-lg: 1000px;

$duration-fast: 0.15s;
$duration-mid: 0.3s;

@mixin mq-xxs {
  @media (min-width: 375px) {
    @content;
  }
}
@mixin mq-xs {
  @media (min-width: 700px) {
    @content;
  }
}
@mixin mq-sm {
  @media (min-width: 970px) {
    @content;
  }
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
