RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Views
RewriteRule ^$                      views/index.php [NC,L] 
RewriteRule ^flight-results$        views/flight-results.php [NC,L]
RewriteRule ^about-us$              views/about-us.php [NC,L]
RewriteRule ^contact-us$            views/contact-us.php [NC,L]
RewriteRule ^user-page$             views/user-page.php [NC,L]

#APIs
#RewriteRule ^api-get-airport$       api/api-get-airport.php [NC,L]
#RewriteRule ^api-get-cities$        api/api-get-cities.php [NC,L]
#RewriteRule ^api-get-flights$       api/api-get-flights.php [NC,L]
RewriteRule ^login$                 api/api-login.php [NC,L]

#Scripts
RewriteRule ^app.js$                js/app.js [NC,L]

#CSS
RewriteRule ^index.css$             css/index.css [NC,L]
