RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Views
RewriteRule ^$                      /views/index.php [NC,L] 
RewriteRule ^index$                 /views/index.php [NC,L] 
RewriteRule ^flight-results$        /views/flight-results.php [NC,L]
RewriteRule ^about-us$              /views/about-us.php [NC,L]
RewriteRule ^contact-us$            /views/contact-us.php [NC,L]
RewriteRule ^user-page$             /views/user-page.php [NC,L]
RewriteRule ^your-trips$            /views/your-trips.php [NC,L]
RewriteRule ^sign-in$               /views/sign-in.php [NC,L]
RewriteRule ^momondo-trips$         /views/trips.php [NC,L]
RewriteRule ^my-trips$              /views/trips-user.php [NC,L]

#404
ErrorDocument 404                   /views/404.php

#APIs
#RewriteRule ^api-get-airport$       api/api-get-airport.php [NC,L]
#RewriteRule ^api-get-cities$        api/api-get-cities.php [NC,L]
#RewriteRule ^api-get-flights$       api/api-get-flights.php [NC,L]

#Bridges
RewriteRule ^log-out$               /bridge/log-out.php [NC,L]
RewriteRule ^trips$                 /bridge/trips.php [NC,L]




#Scripts
RewriteRule ^app.js$                /js/app.js [NC,L]

#CSS
RewriteRule ^index.css$             /css/index.css [NC,L]
