@import "../variables";

#sign-in-page {
  main {
    max-width: $max-width-sm;
  }

  .form-wrapper {
    padding: $gutter-md $gutter-lg;
    color: $clr-black;
    background-color: $clr-main;
    @include flex-column-center;
    gap: $gutter-sm;
    border-radius: $gutter-sm;
  }

  .bg-img {
    height: 180px;
    width: 100%;
    max-width: 250px;
    background: url(/assets/img/interface/authentication.svg) no-repeat center;
  }

  #email-form {
    width: 100%;
    max-width: $max-width-xs;
    @include flex-column-center;
    gap: $gutter-xs;

    & * {
      width: inherit;
    }

    #user-email {
    }
  }
}
