@import "../variables";

#sign-in-page {
  main {
    max-width: $max-width-sm;
  }

  .form-wrapper {
    padding: $gutter-md $gutter-lg;
    color: $clr-black;
    background-color: $clr-main;
    @include flex-column-center;
    gap: $gutter-sm;
    border-radius: $gutter-sm;
  }

  .bg-img {
    height: 180px;
    width: 100%;
    max-width: 250px;
    background: url(/assets/img/interface/authentication.svg) no-repeat center;
  }

  form {
    width: 100%;
    //max-width: $max-width-xs;
    @include flex-column-center;
    gap: 0.6rem;

    &.inactive {
      display: none;
    }

    & * {
      width: inherit;
    }

    label {
      font-family: $ff-light;
    }

    button[type="submit"] {
      margin-top: $gutter-xs;
    }
  }

  .input-wrapper.invalid .sign-in-input:focus {
    box-shadow: 0 3px 5px 0 rgb(233 160 166);
    border-bottom: 2px solid #bf81c7;
  }
  .input-wrapper.valid .sign-in-input:focus {
    box-shadow: 0 3px 5px 0 rgb(134 215 215);
    border-bottom: 2px solid #66cda7;
  }

  .sign-in-input {
    border: 1px solid $clr-light-pink;
    height: 2rem;
    &:focus {
      box-shadow: 0 3px 5px 0 $clr-light-blue;
      border-bottom: 2px solid #2540a4;
    }
  }

  #sign-up-heading {
    width: 100%;
  }
}
