@import "../variables";

#user-dashboard {
  #site-wrapper {
    background-color: #220340;
  }

  .top {
    display: flex;
    justify-content: space-between;

    .user-details ul {
      margin-top: $gutter-lg;
      display: flex;
      gap: $gutter-xl;
    }

    .img-wrapper {
      height: 100%;
      overflow: hidden;
      border-radius: 100%;

      img {
        object-fit: cover;
        height: 100%;
        &[src="/assets/icons/profile.svg"] {
          height: auto;
          object-fit: none;
          transform: scale(1.2) translateY(2px);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }
      }
    }

    .wrapper {
      position: relative;
      .x-btn {
        position: absolute;
        top: 0;
      }

      .change-img-btn {
        cursor: pointer;
      }

      [type="submit"] {
        color: $clr-main;
      }
    }
  }
}
